.chats{
    height: 100%;
    width: 100%;
   
    border-radius: 10px;
    overflow: scroll;
    scrollbar-width: none;
}

p{
    color: rgb(49, 58, 77);
}

.chats .p_title{
    padding: 5px 10px;
    color: rgb(49, 58, 77);
    font-weight: bold;
    font-size: 0.9rem;
}

.chat{
    margin: 10px 0;
    width: 100%;
    /* background-color: rgba(49, 58, 77,0.1); */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.chat .prof-icon{
    height: 50px;
    width: 50px;
    background: rgba(49, 58, 77,0.9);
    border-radius: 50%;
}

.chat .prof-details{
    height: max-content;
    width: 90%;
}

.chat .prof-details .p_msg{
    font-weight: normal;
    font-size: 0.8rem;
    padding: 5px 10px;
}

.img-contain{
    position: absolute;
    height: 50%;
    width: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-contain img{
    height: 90%;
    object-fit: fill;
    z-index: 0;
    filter: brightness(150%);
}

.img-contain p{
    color: rgba(71, 129, 255,1);
    font-size: 1rem;
    font-weight: bold;
}

