.message-container{
    width: 95%;
    margin: 10px;
    height: 85%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

.msg{
    width: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
}

.rec-msg{
    align-self: flex-start;
    background: white;
}

.snd-msg{
    background: rgba(71, 129, 255,0.2);

}
